h1{
    text-align: center;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    font-weight: bold;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #78a88b;
    background-image: linear-gradient(rgb(168, 143, 168), rgb(31, 3, 31));
}

dd, dt{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    font-size: 130%;
}

footer{
    text-align: center;
    font-weight: bold;
}

iframe{
    border: 25px solid #dbdfd9;
    box-shadow: 6px 6px 6px;
    box-shadow: black;
}

#wrapper { 
    padding-left: 4px;
    width: 80%;
    margin: auto;
    background-color: #d8d5d2;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 6px 6px 6px black;
}
